env]
PROJECT_NAME = "{{ config_root | basename }}"
BUILD_DIR = "{{ config_root }}/build"

[tasks."part-1"]
run = "python historian-hysteria.py"

[tasks."part-2:configure"]
run = "mkdir -p $BUILD_DIR && cd $BUILD_DIR && cmake .."

[tasks."part-2:build"]
depends = ["part-2:configure"]
run = "cmake --build $BUILD_DIR"

[tasks."part-2"]
depends = ["part-1", "part-2:build"]
run = "$BUILD_DIR/$PROJECT_NAME"
